*{
    margin: 0;
}

/*
body{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20px;
    position: absolute;
}
*/

main{
    margin-left: 5vw;
    margin-right: 5vw;
    position: absolute;
}

/*Header formatting*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(39, 39, 39);
}

.header-left{
    display: flex;
    height: 5vw;
    background-color: rgb(46, 165, 165);
    width: 23vw;
    padding-left: 4vw;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.name{
    font-size: 3vw;
    font-family: Georgia, serif;
    width: 5vw;
    transform: translateY(.5vw);
    margin-left: -1vw;
}

.header-left img{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    margin-left: 19vw;
    position: absolute;
}

.header-right{
    display: flex;
    height: 5vw;
}

.header-right ul{
    font-size: 2vw;
    display: flex;
    color: black;
    list-style-type: none;
    margin-right: 1vw;
    height: 5vw;
    transform: translateY(1vw);
}

.item{
    margin-right: 15px;
    border-bottom: 3px solid rgb(46, 165, 165);
    color: rgb(46, 165, 165);
    height: 2vw;
}

/*                                              Body formatting                                          */
/* Background image & subtitle */
.background-subtitle{
    display: flex;
    position: relative;
    color: rgb(46, 165, 165);
    font-size: 3vw;
}

.background-img img{
    width: 100vw;
    max-height: 100%;
    background-attachment: fixed;
}

.subtitle{
    position: absolute;
    bottom: 1vw;
    right: 1vw;
}

/*about me & paragraphs*/
.about{
    display: flex;
    justify-content: center;
}

.flex-left{
    width: 25%;
    text-align: left;
    font-size: 4vw;
}

.flex-right{
    width: 75%;
}

.about-paragraphs{
    border-left: 5px solid red;
    padding-left: 1vw;
    font-size: 1vw;
}

.about p{
    margin-bottom: 20px;
}

